<div id= "page_wrapper">
	<div id= "profile_image">
	<%= image_tag "profile.jpeg" %>
	</div>
	<div id= "content">
		<h1> It's Mr. Stick Figure </h1>
		<p> Artisan listicle craft beer selfies cardigan wayfarers gentrify plaid knausgaard normcore street art brunch actually. Street art mlkshk fanny pack, cronut adaptogen selvage brooklyn viral pug master cleanse iPhone ramps letterpress jean shorts godard.Artisan listicle craft beer selfies cardigan wayfarers gentrify plaid knausgaard normcore street art brunch actually. Street art mlkshk fanny pack, cronut adaptogen selvage brooklyn viral pug master cleanse iPhone ramps letterpress jean.</p>
	</div>
</div>	